.hide-element {
  display: none;
}

li{
  list-style: none;
  margin: 15px 0 15px 0;
}

.status {
  width: 10px;
  height: 10px;
  background-color: red;
  display: inline-block;
  //float: left;
  border-radius: 50%;
  &.checked-in {
    background-color: green;
  }
}


