<li>
  <div class="passenger-detail-item-heading">
    <span
      class="status"
      [ngClass]="{'checked-in': item.checkedIn}"
    >
    </span>
    <div
      [class.hide-element]="!editing"
    >
      <input
        type="text"
        [value]="item.fullname"
        #name
      >
    </div>
    <div *ngIf="!editing">
      {{item.fullname}}
    </div>
  </div>

  <div class="date">
    Checked in date: {{item.checkInDate? (item.checkInDate | date | uppercase ) : 'Not checked in' }}
  </div>


  <div>
    <button
      [class.hide-element]="!editing"
      (click)="onSubmit(name.value)"
    >Submit</button>
    <button
      [class.hide-element]="editing"
      (click)="toggleEdit()"
    >Edit</button>
    <button (click)="onRemove()">Remove</button>
    <button (click)="onViewPassenger()">View</button>
  </div>
</li>

